<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head><!-- 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
  </head>
  <body>
   <div class="header">
      <h1="heading">Login</h1>
      <form action="{% url 'home:login' %}" method="POST">
      {% csrf_token %} 
      {{ login.as_p }}
      <input type="submit" value="Submit" /> 

    </form>
    </div>
  </body>
</html>